body {
    background: white;
}

.main-nav {
  width: 95%;
  background: white;
  min-height: 30px;
  padding: 10px;
  position: static;
  text-align: right;
}

@font-face {
  font-family: customFonts2;
  src: url(fonts/Oswald.ttf);
}

.nav {
  display: flex;
  justify-content: space-around;
  font-family: customFonts2;
  font-weight: 900;
  letter-spacing: 1px;
  list-style-type: none;
  float: right;
}

.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: #f5aec5;
}

@font-face {
    font-family: customFonts;
    src: url(fonts/alata-regular.ttf);
}

h1 {
    font-family: customFonts;
    color: black;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: purple;
  }

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    top: 20px;
    right: 0;
  }

  /* Hide the images by default */
.mySlides {
    display: none;
  }

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.prev {
    transform: rotate(180deg);
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /* Number text (1/5 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  